<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XenonStack Task</title>
    <link rel="stylesheet" href="../static/css/indexcss.css" />
  </head>
  <body>
    <header class="header">
      <a href="#" target="_blank" class="logo">XENONSTACK </a>
      <nav class="navbar">
        <ul class="navbar-list">
          <li><a href="#" class="navbar-link"> Home </a></li>
          <li><a href="#" class="navbar-link"> About </a></li>
          <li><a href="#" class="navbar-link"> Gallery </a></li>
          <li><a href="#" class="navbar-link"> Services </a></li>
          
          <li><a href="login.html" class="btn navbar-btn">Sign In/Sing Up</a></li>
        </ul>
      </nav>
      <!-- mobile navigation -->
      <div class="mobile-navbar-btn">
        <ion-icon name="menu" class="mobile-nav-icon"></ion-icon>
        <ion-icon name="close" class="mobile-nav-icon"></ion-icon>
      </div>
    </header>

    <main>
      <section class="section section-hero">
        <div class="container grid grid-two-column">
           <!-- left part of the hero section-->
          <div class="hero-data">
            <h1 class="primary-heading">Sample website for Task</h1>
            <p class="para">
             This is the sample homepage created to complete the 
             task which is the main page of the website
            </p>
            <a href="contact.html" class="btn">Contact Us</a>

            <div class="hero-icons">
              <div class="grid grid-two-column">
                <div class="hero-icon-style">
                  <ion-icon name="logo-react" class="icon"></ion-icon>
                  <h2>Write Code</h2>
                  <p class="para">
                   this is the sample date
                  </p>
                </div>
                <div class="hero-icon-style">
                  <ion-icon name="code-slash" class="icon"></ion-icon>
                  <h2>Learn Code</h2>
                  <p class="para">
                   this is the sample data
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- right side hero section  -->
          <div class="hero-image">
            <img
              src="../images/sample.jpg"
              alt="we love coding and want to learn coding"
              class="image"
            />
            <div class="hero-img-overlay">
              <p class="para">
                “this is sample webstite which we create to complete task”
              </p>
              <p class="para">sample data</p>
              <p class="para">learner</p>
            </div>
          </div>
        </div>
      </section>
    </main>
     <!-- scripts for icons  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="../static/js/index.js"></script>
  </body>
</html>